---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout>
  <article class="mx-auto prose prose-zinc dark:prose-invert">
    <h1 class="text-5xl -mb-4 text-rose-600 dark:text-rose-500">
      {post.data.title}
    </h1>
    <p class="mb-8 text-slate-600 dark:text-slate-500">
      Published on: {post.data.pubDate}
    </p>
    <Content />
  </article>
</BaseLayout>
