---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import CommentSection from "../../components/comments/CommentSection";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout>
  <article class="prose md:prose-lg prose-zinc dark:prose-invert">
    <h1 class="text-5xl -mb-4 text-rose-600 dark:text-rose-500">
      {post.data.title}
    </h1>
    <p class="mb-8 text-zinc-600 dark:text-zinc-500">
      Published on: {post.data.pubDate}
    </p>
    <Content />
  </article>
  {post.data.bskyUri && <CommentSection client:load uri={post.data.bskyUri} />}
</BaseLayout>
