---
import PostLink from "../components/PostLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<BaseLayout title="Blog">
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <PostLink post={post} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
