---
const platform = "github";
const username = "kaofelix";
---

<footer class="mt-4 text-xs text-gray-500">
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>
