---
import SocialIcons from "./SocialIcons.astro";
---

<footer class="mt-10 mb-48 text-zinc-400 dark:text-zinc-600">
  <!-- <p class="text-center mt-10 mb-48">âœ¦. â”€â”€â”€â”€â”€â”€â”€ à«® Ë¶áµ” áµ• áµ”Ë¶ áƒ â”€â”€â”€â”€â”€â”€â”€ .âœ¦</p> -->
  <p class="text-center text-xl">ğ“† ğ“†Ÿ ğ“† ğ“† ğ“†Ÿ</p>
  <!-- <p class="text-center">â”¬â”´â”¬â”´â”¬â”´â”¬â”´â”¤ï½¥Ï‰ï½¥)ï¾‰â”œâ”¬â”´â”¬â”´â”¬â”´â”¬â”´</p> -->
  {Astro.url.pathname !== "/" && <SocialIcons size="24" color="text-inherit" />}
</footer>
