---
import SocialIcons from "./SocialIcons.astro";
import ThemeIcon from "./ThemeIcon.astro";
const isCurrent = (url: string) => {
  return url === Astro.url.pathname;
};

const sections = [
  { title: "about", url: "/" },
  { title: "blog", url: "/blog/" },
];
---

<div class="mb-20">
  <h1
    class="-mt-6 mb-1 text-center uppercase font-black text-8xl md:text-9xl text-zinc-500 dark:text-zinc-300"
  >
    <span class="text-rose-600 dark:text-rose-500">kao's</span> page
  </h1>
  <ul class="flex justify-center items-baseline space-x-5">
    {
      sections.map((section) => (
        <li>
          <a
            href={section.url}
            class={
              "font-black text-4xl " +
              (isCurrent(section.url)
                ? "text-rose-600 dark:text-rose-500"
                : "text-zinc-500 dark:text-zinc-300")
            }
          >
            {section.title}
          </a>
        </li>
      ))
    }
    <li>
      <ThemeIcon />
    </li>
  </ul>
</div>
