---
import PostExcerpt from "@igor.dvlpr/astro-post-excerpt";
import { getCollection } from "astro:content";
import { sortByDate as sortByRecent } from "../utils";
const allPosts = await getCollection("posts");
---

{
  allPosts
    .sort(sortByRecent)
    .slice(0, 3)
    .map((post: any) => (
      <a class="no-underline hover:underline" href={"/posts/" + post.id}>
        <h3 class="not-prose font-bold text-lg md:text-xl lg:text-2xl text-rose-600 dark:text-rose-500">
          {post.data.title}
        </h3>
        <p class="-mb-2 md:-mb-2 text-sm text-zinc-500 dark:text-zinc-400">
          Published on: {post.data.pubDate}
        </p>
        <p class="font-normal prose dark:prose-invert">
          <PostExcerpt post={post} />
        </p>
      </a>
    ))
}
<p class="text-center">
  <a href="/blog/" class="text-rose-600 dark:text-rose-500">see archive</a>
</p>
