---
import { Icon } from "astro-icon/components";
const { size = 32, color = "text-zinc-500 dark:text-zinc-300" } = Astro.props;
const socials = [
  {
    name: "github",
    url: "https://github.com/kaofelix",
  },
  {
    name: "bluesky",
    url: "https://bsky.app/profile/kaofelix.dev",
  },
  {
    name: "mastodon",
    rel: "me",
    url: "https://mastodon.online/@kaofelix",
  },
];
---
<ul class={"flex justify-center space-x-3 " + color}>
  {
    socials.map((social) => (
      <li>
        <a
          href={social.url}
          rel={social.rel}
          class="hover:text-rose-600 dark:hover:text-rose-500 transition-colors"
        >
          <Icon name={social.name + "-fill"} size={size} />
        </a>
      </li>
    ))
  }
</ul>
