---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <article class="prose prose-zinc dark:prose-invert">
    <h1 class="text-5xl text-rose-600 dark:text-rose-500">
      {frontmatter.title}
    </h1>
    <p class="text-slate-600 dark:text-slate-500">
      Published on: {frontmatter.pubDate.toString().slice(0, 10)}
    </p>
    <slot />
  </article>
</BaseLayout>
